<head>
  <title></title>
  <style>
    * {
      padding: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .product-main {
      padding-top: 1em;
      font-family: 'Poppins', sans-serif;
      background-image: linear-gradient(to right top, #82d9dc, #67aebb, #528596, #3e5f70, #2a3b49, #223441, #1a2d3a, #122632, #0e3744, #034853, #005b5f, #0b6d66);
    }
    .card{
      width: 45%;
    }
    .product-card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: fit-content;
    }
    .withe-text{
      color: white;
      font-weight: bold;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{{#if isValid}}
<div class="product-main text-center">
  <button class="btn btn-light m-2"><a href="http://localhost:8080/api/carts/1">Carrito</a></button>
  <div class="product-card-container">
    {{#each docs}}
      <div class="card m-1">
        <ul class="card-body">
          <li class="list-group list-group-flush">
            <p>_id: {{this._id}}</p>
            <p class="list-group-item">title: {{this.title}} &nbsp; </p>
            <p class="list-group-item">description: {{this.description}}</p>
            <p class="list-group-item">code: {{this.code}} &nbsp; price: {{this.price}}</p>
            <p class="list-group-item">category: {{this.category}} &nbsp;stock: {{this.stock}}</p>
            <p class="list-group-item">thumbnail: {{this.thumbnail}} </p>
            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Agregar al carrito</button>
          </li>
        </ul>
      </div>
    {{/each}}
  </div>
  <br />


  {{#if hasPrevPage}}
  <a href={{this.prevLink}}><button class="btn btn-light m-2" >Anterior</button></a>
  {{/if}}

  <div>
    <p class="withe-text m-2">Pagina actual: {{this.page}}</p>
  </div>


  {{#if hasNextPage}}
  <a href={{this.nextLink}}><button class="btn btn-light m-2">Siguiente</button></a>
  {{/if}}


</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}


<script>
  function addToCart(idProducto) {
    console.log(idProducto)
    fetch(`http://localhost:8080/api/carts/crearcarts/${idProducto}`, { method: 'POST' })
      .then(response => response.json())
      .then(data => {
        alert(`El producto _id: ${idProducto} se agrego correctamente al carrito`);
      })
      .catch(error => {
        console.log(`Error al agregar al carrito: ${error}`);
        alert(`Ocurrió un error al agregar el producto al carrito`);
      });
  }
</script>